In [ ]:
    # Import S3 connectors librairies
    #from awsPy.aws_authorization import aws_connector
    import importlib.util
    spec = importlib.util.spec_from_file_location("aws_connector.py", "../../../../aws-python/awsPy/aws_authorization/aws_connector.py")
    aws_connector = importlib.util.module_from_spec(spec)
    spec.loader.exec_module(aws_connector)

    #from awsPy.aws_s3 import service_s3
    import importlib.util
    spec = importlib.util.spec_from_file_location("service_s3.py", "../../../../aws-python/awsPy/aws_s3/service_s3.py")
    service_s3 = importlib.util.module_from_spec(spec)
    spec.loader.exec_module(service_s3)

    # Connect to S3
    import os
    from pathlib import Path

    bucket = 'calfdata'
    path = os.getcwd()
    parent_path = str(Path(path).parent)
    path_cred = "{}/programme_matching/credential_AWS.json".format(parent_path)

    con = aws_connector.aws_instantiate(credential = path_cred,
                                            region = 'eu-west-3')
    client= con.client_boto()
    s3 = service_s3.connect_S3(client = client,
                          bucket = 'calfdata')

    bucket_name='calfdata'
    bucket = client['resource'].Bucket(bucket_name)

In [ ]:
def count_objects_s3(Prefix_):
    list_obj = bucket.objects.filter(Prefix=folder)
    c=0
    for obj in list_obj:
        c+=1
    return (c,list_obj)

In [ ]:
folder='INPI/TC_1/01_donnee_source/Flux/2019/'
(c,list_obj)=count_objects_s3(folder)
c

In [ ]:
# Save file list to a file
import csv, time
from tqdm import tqdm

timestr = time.strftime("%Y%m%d-%H%M%S")
logtd_name="{}/{}/{}_{}_{}{}".format('data','count',timestr,'listobj','SourceFlux2019','.csv')
logtd = open(logtd_name, 'w')
with logtd as myfile:
    wr = csv.writer(myfile,delimiter=';',quoting=csv.QUOTE_ALL)
    wr.writerow(['key'])
    for obj in tqdm(list_obj):
        wr.writerow([obj.key])
logtd.close()

In [ ]:
# FOLDERS
'''
folder='INPI/TC_1/00_RawData/public/IMR_Donnees_Saisies/tc/flux/2017'
folder='INPI/TC_1/00_RawData/public/IMR_Donnees_Saisies/tc/flux/2018'
folder='INPI/TC_1/00_RawData/public/IMR_Donnees_Saisies/tc/flux/2019'
folder='INPI/TC_1/Flux/2017'
folder='INPI/TC_1/Flux/2018'
folder='INPI/TC_1/Flux/2019'
folder='INPI/TC_1/01_donnee_source/Flux/2017'
folder='INPI/TC_1/01_donnee_source/Flux/2018'
folder='INPI/TC_1/01_donnee_source/Flux/2019'


folder='INPI/TC_1/00_RawData/public/IMR_Donnees_Saisies/tc/stock/2017'
folder='INPI/TC_1/00_RawData/public/IMR_Donnees_Saisies/tc/stock/2018'
folder='INPI/TC_1/00_RawData/public/IMR_Donnees_Saisies/tc/stock/2019'
folder='INPI/TC_1/Stock/2017' # => N'existe pas
folder='INPI/TC_1/Stock/2018' # => N'existe pas
folder='INPI/TC_1/Stock/2019' # => N'existe pas
folder='INPI/TC_1/01_donnee_source/Stock/Stock_Initial/2017'
folder='INPI/TC_1/01_donnee_source/Stock/Stock_Partiel/2018'
folder='INPI/TC_1/01_donnee_source/Stock/Stock_Partiel/2019'
'''

# Compare

In [1]:
# Read list and compare
import pandas as pd

In [2]:
#filenameFTPcsv='/media/jawad/Lexar/FTPFlux2017.csv'
filenameFTPcsv='/media/jawad/Lexar/FTPFlux2018.csv'
#filenameFTPcsv='/media/jawad/Lexar/FTPFlux2019.csv'

ftp_=pd.read_csv(filenameFTPcsv)
ftp_['full_path']=ftp_['key'].apply(lambda x: ('\\flux' + x).replace('\\','/'))
ftp_['filename']=ftp_['key'].apply(lambda x: x.split('\\')[-1])
ftp_.head()

,key,full_path,filename
0,\2018\01\01\7501\122\7501_122_20180101_201523_...,/flux/2018/01/01/7501/122/7501_122_20180101_20...,7501_122_20180101_201523_9_ets_nouveau_modifie...
1,\2018\01\01\7501\122\7501_122_20180101_201523_...,/flux/2018/01/01/7501/122/7501_122_20180101_20...,7501_122_20180101_201523_8_ets.csv
2,\2018\01\01\7501\122\7501_122_20180101_201523_...,/flux/2018/01/01/7501/122/7501_122_20180101_20...,7501_122_20180101_201523_7_rep_partant_EVT.csv
3,\2018\01\01\7501\122\7501_122_20180101_201523_...,/flux/2018/01/01/7501/122/7501_122_20180101_20...,7501_122_20180101_201523_6_rep_nouveau_modifie...
4,\2018\01\01\7501\122\7501_122_20180101_201523_...,/flux/2018/01/01/7501/122/7501_122_20180101_20...,7501_122_20180101_201523_5_rep.csv

In [3]:
len(ftp_)

552088

In [ ]:
# Select all duplicate rows based on filename
duplicateRowsDF = ftp_[ftp_.duplicated(['filename'])]
duplicateRowsDF.head()

In [9]:
#filenameRawcsv='data/count/20200412-190417_listobj_RawFlux2017.csv'
filenameRawcsv='data/count/20200412-221748_listobj_RawFlux2018.csv'
#filenameRawcsv='data/count/20200411-150747_listobj_RawFlux2019.csv'
#filenameRawcsv='data/count/20200410-164920_listobj_RawStock2017.csv'
#filenameRawcsv='data/count/20200410-165958_listobj_RawStock2018.csv'
#filenameRawcsv='data/count/20200410-170008_listobj_RawStock2019.csv'


raw_=pd.read_csv(filenameRawcsv)
raw_['full_path']=raw_['key'].apply(lambda x: x[50:])
raw_['filename']=raw_['key'].apply(lambda x: x.split('/')[-1])
raw_.head()

,key,full_path,filename
0,INPI/TC_1/00_RawData/public/IMR_Donnees_Saisie...,/flux/2018/01/01/7501/122/7501_122_20180101_20...,7501_122_20180101_201523_10_ets_supprime_EVT.csv
1,INPI/TC_1/00_RawData/public/IMR_Donnees_Saisie...,/flux/2018/01/01/7501/122/7501_122_20180101_20...,7501_122_20180101_201523_11_obs.csv
2,INPI/TC_1/00_RawData/public/IMR_Donnees_Saisie...,/flux/2018/01/01/7501/122/7501_122_20180101_20...,7501_122_20180101_201523_12_actes.csv
3,INPI/TC_1/00_RawData/public/IMR_Donnees_Saisie...,/flux/2018/01/01/7501/122/7501_122_20180101_20...,7501_122_20180101_201523_13_comptes_annuels.csv
4,INPI/TC_1/00_RawData/public/IMR_Donnees_Saisie...,/flux/2018/01/01/7501/122/7501_122_20180101_20...,7501_122_20180101_201523_1_PM.csv

In [10]:
len(raw_)

552089

In [11]:
# Select all duplicate rows based on filename
duplicateRowsDF = raw_[raw_.duplicated(['filename'])]
duplicateRowsDF.head()

Empty DataFrame
Columns: [key, full_path, filename]
Index: []

In [12]:
len(duplicateRowsDF)

0

In [ ]:
#duplicateRowsDF.sort_values(["filename"]).head()

In [ ]:
#duplicateRowsDF.to_csv(r'dupFlux2018.csv', sep=';', index=True)

In [ ]:
# Find difference between two data frames
diff_=ftp_.merge(raw_,on='filename',indicator = True, how='left').loc[lambda x : x['_merge']!='both']

In [ ]:
diff_.head()

In [ ]:
diff_[['filename','full_path_x','_merge']]

In [ ]:
# Number of missing
len(diff_)

In [ ]:
# Save missing list
diff_['key_x'].to_csv(r'missingFlux2018-2.csv', sep=';', index=False)

In [4]:
# PREPARED
#filenamePrepcsv='data/count/20200412-212532_listobj_SourceFlux2017.csv'
filenamePrepcsv='data/count/20200413-082026_listobj_SourceFlux2018.csv'
#filenamePrepcsv='data/count/'
#filenamePrepcsv='data/count/'
#filenamePrepcsv='data/count/'
#filenamePrepcsv='data/count/'


prep_=pd.read_csv(filenamePrepcsv)
prep_.head()

                                                 key
0              INPI/TC_1/01_donnee_source/Flux/2018/
1        INPI/TC_1/01_donnee_source/Flux/2018/ACTES/
2    INPI/TC_1/01_donnee_source/Flux/2018/ACTES/EVT/
3  INPI/TC_1/01_donnee_source/Flux/2018/ACTES/NEW...
4  INPI/TC_1/01_donnee_source/Flux/2018/ACTES/NEW...

In [5]:
prep_['filename']=prep_['key'].apply(lambda x: x.split('/')[-1])
prep_.head()

,key,filename
0,INPI/TC_1/01_donnee_source/Flux/2018/,
1,INPI/TC_1/01_donnee_source/Flux/2018/ACTES/,
2,INPI/TC_1/01_donnee_source/Flux/2018/ACTES/EVT/,
3,INPI/TC_1/01_donnee_source/Flux/2018/ACTES/NEW...,0101_163_20180103_084810_12_actes.csv
4,INPI/TC_1/01_donnee_source/Flux/2018/ACTES/NEW...,0101_164_20180104_054316_12_actes.csv

In [6]:
# Select all duplicate rows based on filename
duplicateRowsDF = prep_[prep_.duplicated(['filename'])]
duplicateRowsDF.head()

                                               key filename
1      INPI/TC_1/01_donnee_source/Flux/2018/ACTES/
2  INPI/TC_1/01_donnee_source/Flux/2018/ACTES/EVT/

In [7]:
len(prep_)

551312

In [13]:
# Find difference between two data frames
diff_=raw_.merge(prep_,on='filename',indicator = True, how='left').loc[lambda x : x['_merge']!='both']
diff_.head()

,key_x,full_path,filename,key_y,_merge
858,INPI/TC_1/00_RawData/public/IMR_Donnees_Saisie...,/flux/2018/01/03/1303/321/1303_321_20171227_07...,1303_321_20171227_070757_10_ets_supprime_EVT.csv,NaN,left_only
859,INPI/TC_1/00_RawData/public/IMR_Donnees_Saisie...,/flux/2018/01/03/1303/321/1303_321_20171227_07...,1303_321_20171227_070757_11_obs.csv,NaN,left_only
860,INPI/TC_1/00_RawData/public/IMR_Donnees_Saisie...,/flux/2018/01/03/1303/321/1303_321_20171227_07...,1303_321_20171227_070757_12_actes.csv,NaN,left_only
861,INPI/TC_1/00_RawData/public/IMR_Donnees_Saisie...,/flux/2018/01/03/1303/321/1303_321_20171227_07...,1303_321_20171227_070757_13_comptes_annuels.csv,NaN,left_only
862,INPI/TC_1/00_RawData/public/IMR_Donnees_Saisie...,/flux/2018/01/03/1303/321/1303_321_20171227_07...,1303_321_20171227_070757_1_PM.csv,NaN,left_only

In [14]:
len(diff_)

780

In [15]:
# Save missing list
diff_['key_x'].to_csv(r'missingPrepFlux2018.csv', sep=';', index=False)