# Donnée de stock

Dans les données de stock, il y a un stock inital a date du 5 mai 2017 et un ensemble de stock initial délivré à différent intervals.



## Documentation

- [Doc INSEE](https://scm.saas.cagip.group.gca/PERNETTH/database/blob/master/Documentation/IMR/Doc_Tech_IMR_Mai_2019_v1.5.1.pdf)
- [etalab](https://github.com/etalab/rncs_worker_api_entreprise)
    - [Module data cleaning](https://github.com/etalab/rncs_worker_api_entreprise/blob/master/clean_csv.bash)
- Path local: `C:\Users\PERNETTH\Documents\Projects\GitLab\CreationDataBase\INPI\TC_1\Stock\Stock_initial`
- Path Reseau: `G:\Projets\PP2019\2019_PROGRAMME BATICA\DATA\INPI\sources\IMR_Donnees_Saisies\tc\stock\2017`

### Variables communes

![image](https://drive.google.com/uc?export=view&id=1laCGFEtxM4bbckNZQEkw1icBjF4pd20-)

### Stock

Le contenu de chaque fichier est disponible [ici](https://scm.saas.cagip.group.gca/PERNETTH/database/tree/master/INPI/TC_1)

Les données brutes sont répertoriées dans des fichiers zip composées de 7 fichiers:

- Actes
- Comptes Annuels
- ETS
- OBS
- PM
- PP
- REP

### Donnees de flux 

- Path local: `C:\Users\PERNETTH\Documents\Projects\GitLab\CreationDataBase\INPI\TC_1\Flux`
- Path Reseau: `G:\Projets\PP2019\2019_PROGRAMME BATICA\DATA\INPI\sources\IMR_Donnees_Saisies\tc\Flux`

Les PP en local sont disponibles ici: `C:\Users\PERNETTH\Documents\Projects\GitLab\CreationDataBase\INPI\TC_1\Flux\PP`

name csv : `0101_1_20170512_112544_4_PP_EVT`
    
    - code greffe: 0101
    - numéro transmission: 1
    - Date: 2017-05-12
    - heures: 11h25m44s
    - Type: PP
    - Evenement: Oui

**FICHIERS TRANSMIS EN CAS DE MISE A JOUR D’UN DOSSIER (EVENEMENT)**

En cas de mise à jour d’un dossier suite à un événement (modification, radiation), les fichiers transmis ont une structure identique aux fichiers créés à l’immatriculation avec la présence de 2 champs spécifiques : la date de l’événement (Date_Greffe) et le libellé de l’événement (Libelle_Evt).

Dans ces cas, 6 types de fichiers supplémentaires, numérotés, sont transmis correspondant à :
* Evénements modifiant ou complétant les dossiers d’immatriculation des personnes morales (2) ou physiques (4)
* Evénements modifiant ou complétant les informations relatives aux représentants (6) ou aux établissements (9)
* Evénements supprimant des représentants (7 – Représentant partant) ou des établissements (10 – Etablissement supprimé)

![](https://drive.google.com/uc?export=view&id=1FVEGNqogl1NxB84BtdF4TQztCXjmtpyo)

Attention, il peut arriver que le même dossier fasse l’objet de plusieurs événements (création et modification) dans la même transmission. Il est impératif d’intégrer les événements dans l’ordre d’apparition.

Les csv sont classés de la manière suivante:

- Module (ETS, PP, PM, etc)
    - NEW: New event
    - EVT: Update event

In [1]:
import pandas as pd
import inpi

In [2]:
path_stock = r"C:\Users\PERNETTH\Documents\Projects\GitLab\CreationDataBase\INPI\TC_1\Stock\Stock_initial"
path_flux = r"C:\Users\PERNETTH\Documents\Projects\GitLab\CreationDataBase\INPI\TC_1\Flux"

## PP

In [3]:
dtype = {
    "Code Greffe": "int",
    "Nom_Greffe": "str",
    "Numero_Gestion": "str",
    "Siren": "int",
    "Type_Inscription": "str",
    "Date_Immatriculation": "str",
    "Date_1re_Immatriculation": "str",
    "Date_Radiation": "str",
    "Date_Transfert": "str",
    "Sans_Activité": "str",
    "Date_Debut_Activité": "str",
    "Date_Début_1re_Activité": "str",
    "Date_Cessation_Activité": "str",
    "Nom_Patronymique": "str",
    "Nom_Usage": "str",
    "Pseudonyme": "str",
    "Prénoms": "str",
    "Date_Naissance": "str",
    "Ville_Naissance": "str",
    "Pays_Naissance": "str",
    "Nationalité": "str",
    "Adresse_Ligne1": "str",
    "Adresse_Ligne2": "str",
    "Adresse_Ligne3": "str",
    "Code_Postal": "str",
    "Ville": "str",
    "Code_Commune": "str",
    "Pays": "str",
    "Activité_Forain": "str",
    "EIRL": "str",
    "Auto-entrepreneur": "str",
    "DAP": "str",
    "DAP_Dénomination": "str",
    "DAP_Objet": "str",
    "DAP_Date_Clôture": "str",
    "DAP_Adresse_Ligne1": "str",
    "DAP_Adresse_Ligne2": "str",
    "DAP_Adresse_Ligne3": "str",
    "DAP_Code_Postal": "str",
    "DAP_Ville": "str",
    "DAP_Code_Commune": "str",
    "DAP_Pays": "str",
    "Conjoint_Collab_Nom_Patronym": "str",
    "Conjoint_Collab_Nom_Usage": "str",
    "Conjoint_Collab_Pseudo": "str",
    "Conjoint_Collab_Prénoms": "str",
    "Conjoint_Collab_Date_Fin": "str",
    "Date_Greffe": "str",
    "Libelle_Evt": "str",
}

parse_dates = [
    "Date_Immatriculation",
    "Date_1re_Immatriculation",
    "Date_Radiation",
    "Date_Transfert",
    "Date_Debut_Activité",
    "Date_Début_1re_Activité",
    "Date_Cessation_Activité",
    "Date_Naissance",
    "DAP_Date_Clôture",
    "Date_Greffe",
]

In [4]:
inpi.appendData(
    origin="PP",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_stock,
    list_unique=False,
)

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type_Inscription,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Date_Transfert,Sans_Activité,...,DAP_Ville,DAP_Code_Commune,DAP_Pays,Conjoint_Collab_Nom_Patronym,Conjoint_Collab_Nom_Usage,Conjoint_Collab_Pseudo,Conjoint_Collab_Prénoms,Conjoint_Collab_Date_Fin,Date_Greffe,Libelle_Evt
0,101,Bourg-en-Bresse,2002A00253,442377040,P,2002-06-18,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-04,Création
1,101,Bourg-en-Bresse,2015A00093,809861297,P,2015-02-27,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-02-27,Création
2,101,Bourg-en-Bresse,2005A00087,480952712,P,2005-02-23,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-03,Création
3,101,Bourg-en-Bresse,1992A00503,388239667,P,1992-10-14,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-03,Création
4,101,Bourg-en-Bresse,2017A00279,828427245,P,2017-04-18,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-04-18,Création
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758467,9401,Créteil,2016A01477,822165775,P,2016-09-02,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-06,Création
758468,9401,Créteil,2000A00192,429710312,P,2000-03-01,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-04,Création
758469,9401,Créteil,2013A00106,411165590,P,2013-04-30,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-20,Création
758470,9401,Créteil,2016A00542,819097445,P,2016-03-16,NaT,NaT,NaT,NaN,...,Joinville-le-Pont,NaN,FRANCE,NaN,NaN,NaN,NaN,NaN,2016-03-17,Création
758471,9401,Créteil,2015A00338,528246713,P,2015-05-06,NaT,NaT,2015-01-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-05-06,Création

In [5]:
inpi.appendData(
    origin="PP",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_flux,
    list_unique=False,
)

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type_Inscription,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Date_Transfert,Sans_Activité,...,DAP_Ville,DAP_Code_Commune,DAP_Pays,Conjoint_Collab_Nom_Patronym,Conjoint_Collab_Nom_Usage,Conjoint_Collab_Pseudo,Conjoint_Collab_Prénoms,Conjoint_Collab_Date_Fin,Date_Greffe,Libelle_Evt
0,101,Bourg-en-Bresse,2017A00322,829341635,P,2017-05-04,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-04,Création
1,101,Bourg-en-Bresse,2017A00323,829344324,P,2017-05-04,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-04,Création
2,101,Bourg-en-Bresse,2017A00327,829386515,P,2017-05-05,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-05,Création
3,101,Bourg-en-Bresse,2017A00325,803040583,P,2017-05-05,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-05,Création
4,101,Bourg-en-Bresse,2017A00324,393826185,P,2017-05-05,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-05,Création
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3896,9401,Créteil,2017A00633,825199995,P,2017-05-05,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-05,Création
3897,9401,Créteil,2017A00643,829444736,P,2017-05-10,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-10,Création
3898,9401,Créteil,2017A00624,393161302,P,2017-05-05,NaT,NaT,NaT,NaN,...,Valenton,NaN,FRANCE,NaN,NaN,NaN,NaN,NaN,2017-05-05,Création
3899,9401,Créteil,2017A00621,418006946,P,2017-05-05,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-05,Création
3900,9401,Créteil,2017A00622,829380955,P,2017-05-05,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-05,Création

In [6]:
inpi.appendData(
    origin="PP",
    EVT=True,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_flux,
    list_unique=False,
)

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type_Inscription,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Date_Transfert,Sans_Activité,...,DAP_Ville,DAP_Code_Commune,DAP_Pays,Conjoint_Collab_Nom_Patronym,Conjoint_Collab_Nom_Usage,Conjoint_Collab_Pseudo,Conjoint_Collab_Prénoms,Conjoint_Collab_Date_Fin,Date_Greffe,Libelle_Evt
0,101,Bourg-en-Bresse,2017A00108,827575812,P,NaT,NaT,2017-05-04 00:00:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-04,Modifications relatives au dossier
1,101,Bourg-en-Bresse,2012A00186,345104111,P,NaT,NaT,2017-05-04 00:00:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-04,Modifications relatives au dossier
2,101,Bourg-en-Bresse,2015A00356,753507268,P,NaT,NaT,2017-05-04 00:00:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-04,Modifications relatives au dossier
3,101,Bourg-en-Bresse,2015A00263,421891409,P,NaT,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-04,Modifications relatives au dossier
4,101,Bourg-en-Bresse,2016A00675,821933645,P,NaT,NaT,2017-05-05 00:00:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-05,Modifications relatives au dossier
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2629,9401,Créteil,2005A00749,484004767,P,NaT,NaT,2017-05-10 00:00:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-10,Modifications relatives au dossier
2630,9401,Créteil,2002A00313,441608171,P,NaT,NaT,NaT,NaT,NaN,...,Vitry-sur-Seine,NaN,FRANCE,NaN,NaN,NaN,NaN,NaN,2017-05-10,Modifications relatives au dossier
2631,9401,Créteil,2016A00704,819534140,P,NaT,NaT,2017-05-10 00:00:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-10,Modifications relatives au dossier
2632,9401,Créteil,2011A00066,530838929,P,NaT,NaT,2017-05-10 00:00:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-10,Modifications relatives au dossier
2633,9401,Créteil,2016A00546,522807221,P,NaT,NaT,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-10,Modifications relatives au dossier

In [ ]:
df_pp_initial.loc[lambda x: x["Siren"].isin([827575812])].T

In [ ]:
df_pp_update.loc[lambda x: x["Siren"].isin([827575812])].T

## PM

In [9]:
dtype = {
    "Code Greffe": "int",
    "Nom_Greffe": "str",
    "Numero_Gestion": "str",
    "Siren": "int",
    "Type_Inscription": "str",
    "Date_Immatriculation": "str",
    "Date_1re_Immatriculation": "str",
    "Date_Radiation": "str",
    "Date_Transfert": "str",
    "Sans_Activité": "str",
    "Date_Debut_Activité": "str",
    "Date_Début_1re_Activité": "str",
    "Date_Cessation_Activité": "str",
    "Denomination": "str",
    "Sigle": "str",
    "Forme_Juridique": "str",
    "Associé_Unique": "str",
    "Activité_Principale": "str",
    "Type_Capital": "str",
    "Capital": "float64",
    "Capital_Actuel": "float64",
    "Devise": "str",
    "Date_Clôture": "str",
    "Date_Clôture_Except.": "str",
    "Economie_Sociale_Solidaire": "str",
    "Durée_PM": pd.Int64Dtype(),
    "Date_Greffe": "str",
    "Libelle_Evt": "str",
}

parse_dates = [
    "Date_Immatriculation",
    "Date_1re_Immatriculation",
    "Date_Radiation",
    "Date_Transfert",
    "Date_Debut_Activité",
    "Date_Début_1re_Activité",
    "Date_Cessation_Activité",
    "Date_Clôture",
    "Date_Clôture_Except.",
    "Date_Greffe",
]

In [10]:
inpi.appendData(
    origin="PM",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_stock,
    list_unique=False,
)

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type_Inscription,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Date_Transfert,Sans_Activité,...,Type_Capital,Capital,Capital_Actuel,Devise,Date_Clôture,Date_Clôture_Except.,Economie_Sociale_Solidaire,Durée_PM,Date_Greffe,Libelle_Evt
0,101,Bourg-en-Bresse,2015B01079,813543063,P,2015-09-17 00:00:00,2015-09-17,NaT,NaT,NaN,...,F,6000000.00,NaN,Euros,31 Décembre,NaN,Non,15,2015-09-17 00:00:00,Création
1,101,Bourg-en-Bresse,2015B01297,800897092,P,2015-11-06 00:00:00,NaN,NaT,NaT,NaN,...,F,694400.00,NaN,Euros,30 Septembre,NaN,Non,98,2017-05-03 00:00:00,Création
2,101,Bourg-en-Bresse,2002D40001,440432052,P,2002-01-03 00:00:00,NaN,NaT,NaT,NaN,...,F,8000.00,NaN,Euros,31 Décembre,NaN,Non,99,2017-02-20 00:00:00,Création
3,101,Bourg-en-Bresse,2011D00505,534728381,P,2011-09-21 00:00:00,NaN,NaT,NaT,NaN,...,F,88000.00,NaN,Euros,NaN,NaN,Non,80,2011-09-21 00:00:00,Création
4,101,Bourg-en-Bresse,2012B00425,750647851,P,2012-04-02 00:00:00,NaN,NaT,NaT,NaN,...,F,20000.00,NaN,Euros,30 Septembre,2013-09-30,Non,50,2017-03-08 00:00:00,Création
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4296547,9401,Créteil,2014B00125,799594270,P,2014-01-10 00:00:00,NaT,NaT,NaT,NaN,...,F,1000.00,NaN,Euros,31 Décembre,2014-12-31,Non,99,2015-02-17 00:00:00,Création
4296548,9401,Créteil,2017D00077,824999809,P,2017-01-18 00:00:00,2017-01-18 00:00:00,NaT,NaT,NaN,...,F,1500.00,NaN,Euros,NaN,NaN,Non,99,2017-01-20 00:00:00,Création
4296549,9401,Créteil,2006B02127,490363058,P,2006-06-01 00:00:00,NaT,NaT,NaT,NaN,...,F,3000.00,NaN,Euros,31 Décembre,2007-12-31,Non,99,2008-01-28 00:00:00,Création
4296550,9401,Créteil,2001D00529,438001844,P,2001-06-01 00:00:00,NaT,NaT,NaT,NaN,...,F,146.35,NaN,Euros,31 Mai,NaN,Non,99,2003-11-17 00:00:00,Création
4296551,9401,Créteil,2013D00829,794404608,P,2013-07-23 00:00:00,NaT,NaT,NaT,NaN,...,F,100.00,NaN,Euros,NaN,NaN,Non,99,2013-10-22 00:00:00,Création

In [11]:
inpi.appendData(
    origin="PM",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_flux,
    list_unique=False,
)

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type_Inscription,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Date_Transfert,Sans_Activité,...,Type_Capital,Capital,Capital_Actuel,Devise,Date_Clôture,Date_Clôture_Except.,Economie_Sociale_Solidaire,Durée_PM,Date_Greffe,Libelle_Evt
0,101,Bourg-en-Bresse,2017B00697,829413665,P,2017-05-04,2017-05-04,NaT,NaT,NaN,...,F,1500.0,NaN,Euros,31 Décembre,2017-12-31,Non,99,2017-05-04,Création
1,101,Bourg-en-Bresse,2017B00699,829357912,P,2017-05-04,2017-05-04,NaT,NaT,Oui,...,F,2000.0,NaN,Euros,31 Mars,2018-03-31,Non,99,2017-05-04,Création
2,101,Bourg-en-Bresse,2017B00701,829423953,P,2017-05-04,2017-05-04,NaT,NaT,NaN,...,F,1000.0,NaN,Euros,31 Mai,2018-05-31,Non,99,2017-05-04,Création
3,101,Bourg-en-Bresse,2017D00289,829421650,P,2017-05-04,2017-05-04,NaT,NaT,NaN,...,F,1200.0,NaN,Euros,NaN,NaT,Non,99,2017-05-04,Création
4,101,Bourg-en-Bresse,2017B00696,829412410,P,2017-05-04,2017-05-04,NaT,NaT,NaN,...,F,2000.0,NaN,Euros,31 Décembre,2018-12-31,Non,99,2017-05-04,Création
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9725,9401,Créteil,2017B02678,829411180,P,2017-05-05,2017-05-05,NaT,NaT,NaN,...,F,6000.0,NaN,Euros,31 Décembre,2017-12-31,Non,99,2017-05-09,Création
9726,9401,Créteil,2017B02591,824803951,P,2017-05-02,2017-05-02,NaT,NaT,NaN,...,F,10000.0,NaN,Euros,31 Décembre,2017-12-31,Non,99,2017-05-04,Création
9727,9401,Créteil,2017B02672,828905877,P,2017-05-05,2017-05-05,NaT,NaT,NaN,...,V,3000.0,3000.0,Euros,31 Décembre,2018-12-31,Non,99,2017-05-05,Création
9728,9401,Créteil,2017B02620,829366418,P,2017-05-03,2017-05-03,NaT,NaT,NaN,...,F,1000.0,NaN,Euros,31 Décembre,2017-12-31,Non,99,2017-05-04,Création
9729,9401,Créteil,2017B02720,829482199,P,2017-05-10,2017-05-10,NaT,NaT,NaN,...,F,10000.0,NaN,Euros,31 Décembre,2017-12-31,Non,99,2017-05-10,Création

In [12]:
inpi.appendData(
    origin="PM",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_flux,
    list_unique=False,
)

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type_Inscription,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Date_Transfert,Sans_Activité,...,Type_Capital,Capital,Capital_Actuel,Devise,Date_Clôture,Date_Clôture_Except.,Economie_Sociale_Solidaire,Durée_PM,Date_Greffe,Libelle_Evt
0,101,Bourg-en-Bresse,2017B00697,829413665,P,2017-05-04,2017-05-04,NaT,NaT,NaN,...,F,1500.0,NaN,Euros,31 Décembre,2017-12-31,Non,99,2017-05-04,Création
1,101,Bourg-en-Bresse,2017B00699,829357912,P,2017-05-04,2017-05-04,NaT,NaT,Oui,...,F,2000.0,NaN,Euros,31 Mars,2018-03-31,Non,99,2017-05-04,Création
2,101,Bourg-en-Bresse,2017B00701,829423953,P,2017-05-04,2017-05-04,NaT,NaT,NaN,...,F,1000.0,NaN,Euros,31 Mai,2018-05-31,Non,99,2017-05-04,Création
3,101,Bourg-en-Bresse,2017D00289,829421650,P,2017-05-04,2017-05-04,NaT,NaT,NaN,...,F,1200.0,NaN,Euros,NaN,NaT,Non,99,2017-05-04,Création
4,101,Bourg-en-Bresse,2017B00696,829412410,P,2017-05-04,2017-05-04,NaT,NaT,NaN,...,F,2000.0,NaN,Euros,31 Décembre,2018-12-31,Non,99,2017-05-04,Création
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9725,9401,Créteil,2017B02678,829411180,P,2017-05-05,2017-05-05,NaT,NaT,NaN,...,F,6000.0,NaN,Euros,31 Décembre,2017-12-31,Non,99,2017-05-09,Création
9726,9401,Créteil,2017B02591,824803951,P,2017-05-02,2017-05-02,NaT,NaT,NaN,...,F,10000.0,NaN,Euros,31 Décembre,2017-12-31,Non,99,2017-05-04,Création
9727,9401,Créteil,2017B02672,828905877,P,2017-05-05,2017-05-05,NaT,NaT,NaN,...,V,3000.0,3000.0,Euros,31 Décembre,2018-12-31,Non,99,2017-05-05,Création
9728,9401,Créteil,2017B02620,829366418,P,2017-05-03,2017-05-03,NaT,NaT,NaN,...,F,1000.0,NaN,Euros,31 Décembre,2017-12-31,Non,99,2017-05-04,Création
9729,9401,Créteil,2017B02720,829482199,P,2017-05-10,2017-05-10,NaT,NaT,NaN,...,F,10000.0,NaN,Euros,31 Décembre,2017-12-31,Non,99,2017-05-10,Création

## REP

Doc REP: https://scm.saas.cagip.group.gca/PERNETTH/database/blob/master/Documentation/IMR/Doc_Tech_IMR_Mai_2019_v1.5.1.pdf
- page 30

Attention, certains champs sont remplis selon le type de la société. Ex SIREN -> Si type =PM

Pourquoi deux SIREN?

Le deuxième siren correspond a celui de la PM qui detient l'entreprise.

Ex: Peugeot a plusieurs détenteur. Le détenteur possède un siren, il sera affiché dans siren.1 uniquement si détenteur est une PM

In [14]:
dtype = {
    "Code Greffe": "int",
    "Nom_Greffe": "str",
    "Numero_Gestion": "str",
    "Siren": "int",
    "Type": "str",
    "Nom_Patronymique": "str",
    "Nom_Usage": "str",
    "Pseudonyme": "str",
    "Prénoms": "str",
    "Dénomination": "str",
    "Siren.1": "str",
    "Forme_Juridique": "str",
    "Adresse_Ligne1": "str",
    "Adresse_Ligne2": "str",
    "Adresse_Ligne3": "str",
    "Code_Postal": "str",
    "Ville": "str",
    "Code_Commune": "str",
    "Pays": "str",
    "Date_Naissance": "str",
    "Ville_Naissance": "str",
    "Pays_Naissance": "str",
    "Nationalité": "str",
    "Qualité": "str",
    "Rep_Perm_Nom": "str",
    "Rep_Perm_Nom_Usage": "str",
    "Rep_Perm_Pseudo": "str",
    "Rep_Perm_Prénoms": "str",
    "Rep_Perm_Date_Naissance": "str",
    "Rep_Perm_Ville_Naissance": "str",
    "Rep_Perm_Pays_Naissance": "str",
    "Rep_Perm_Nationalité": "str",
    "Rep_Perm_Adr_Ligne1": "str",
    "Rep_Perm_Adr_Ligne2": "str",
    "Rep_Perm_Adr_Ligne3": "str",
    "Rep_Perm_Code_Postal": "str",
    "Rep_Perm_Ville": "str",
    "Rep_Perm_Code_Commune": "str",
    "Rep_Perm_Pays": "str",
    "Conjoint_Collab_Nom_Patronym": "str",
    "Conjoint_Collab_Nom_Usage": "str",
    "Conjoint_Collab_Pseudo": "str",
    "Conjoint_Collab_Prénoms": "str",
    "Conjoint_Collab_Date_Fin": "str",
    "ID_Représentant": "str",
    "date_greffe": "str",
    "Libelle_Evt": "str",
}

parse_dates = ["Date_Naissance", "date_greffe"]

In [15]:
inpi.appendData(
    origin="REP",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_stock,
    list_unique=False,
)

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type,Nom_Patronymique,Nom_Usage,Pseudonyme,Prénoms,Dénomination,...,Rep_Perm_Code_Commune,Rep_Perm_Pays,Conjoint_Collab_Nom_Patronym,Conjoint_Collab_Nom_Usage,Conjoint_Collab_Pseudo,Conjoint_Collab_Prénoms,Conjoint_Collab_Date_Fin,ID_Représentant,date_greffe,Libelle_Evt
0,101,Bourg-en-Bresse,2015B01079,813543063,P.Physique,MARGARITELLI,NaN,NaN,Dario,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2015-09-17 00:00:00,Nouveau dirigeant
1,101,Bourg-en-Bresse,2015B01079,813543063,P.Physique,MARGARITELLI,NaN,NaN,Dario,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2015-09-17 00:00:00,Nouveau dirigeant
2,101,Bourg-en-Bresse,2015B01079,813543063,P.Physique,LUCARINI,NaN,NaN,Stefano,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2015-09-17 00:00:00,Nouveau dirigeant
3,101,Bourg-en-Bresse,2015B01079,813543063,P.Physique,MARGARITELLI,NaN,NaN,Andrea,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2015-09-17 00:00:00,Nouveau dirigeant
4,101,Bourg-en-Bresse,2015B01297,800897092,P.Physique,CHANUSSOT,MENDES DE FREITAS,NaN,Françoise,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-03 00:00:00,Nouveau dirigeant
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9504902,9401,Créteil,2001D00529,438001844,P.Physique,BREMAUD,JONQUET,NaN,Annie Francette,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,2003-11-17 00:00:00,Nouveau dirigeant
9504903,9401,Créteil,2013D00829,794404608,P.Physique,DURAND,NaN,NaN,Charlotte,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2013-10-22 00:00:00,Nouveau dirigeant
9504904,9401,Créteil,2013D00829,794404608,P.Physique,DURAND,NaN,NaN,Charlotte,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2013-10-22 00:00:00,Nouveau dirigeant
9504905,9401,Créteil,2013D00829,794404608,P.Physique,DURAND,NaN,NaN,Claude,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2013-10-22 00:00:00,Nouveau dirigeant
9504906,9401,Créteil,2013D00829,794404608,P. Morale,NaN,NaN,NaN,NaN,CABINET DU DOCTEUR DURAND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2013-10-22 00:00:00,Nouveau dirigeant

In [8]:
inpi.appendData(
    origin="REP",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_flux,
    list_unique=False,
)

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type,Nom_Patronymique,Nom_Usage,Pseudonyme,Prénoms,Dénomination,...,Rep_Perm_Code_Commune,Rep_Perm_Pays,Conjoint_Collab_Nom_Patronym,Conjoint_Collab_Nom_Usage,Conjoint_Collab_Pseudo,Conjoint_Collab_Prénoms,Conjoint_Collab_Date_Fin,ID_Représentant,date_greffe,Libelle_Evt
0,101,Bourg-en-Bresse,2017B00697,829413665,P.Physique,LAUNAY,NaN,NaN,"Jérôme, Marc, Patrick",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-04,Nouveau dirigeant
1,101,Bourg-en-Bresse,2017B00699,829357912,P.Physique,BEREZIAT,GAVAND,NaN,Charline,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-04,Nouveau dirigeant
2,101,Bourg-en-Bresse,2017B00701,829423953,P.Physique,FOURNIER,NaN,NaN,Guillaume,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-04,Nouveau dirigeant
3,101,Bourg-en-Bresse,2017D00289,829421650,P.Physique,BALUFIN,NaN,NaN,Thierry,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-04,Nouveau dirigeant
4,101,Bourg-en-Bresse,2017D00289,829421650,P.Physique,BALUFIN,NaN,NaN,Thierry,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-04,Nouveau dirigeant
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20094,9401,Créteil,2017B02678,829411180,P.Physique,KONATE,NaN,NaN,Bineta,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-09,Nouveau dirigeant
20095,9401,Créteil,2017B02591,824803951,P.Physique,ABDELHAFIDH,NaN,NaN,Imad,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-04,Nouveau dirigeant
20096,9401,Créteil,2017B02672,828905877,P.Physique,ZARROUK,NaN,NaN,Fathi,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-05,Nouveau dirigeant
20097,9401,Créteil,2017B02620,829366418,P.Physique,VASIKARAN,NaN,NaN,Kandiah,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-04,Nouveau dirigeant
20098,9401,Créteil,2017B02720,829482199,P.Physique,ZUILI,NaN,NaN,Robert,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-10,Nouveau dirigeant

In [16]:
inpi.appendData(
    origin="REP",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_flux,
    list_unique=False,
)

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type,Nom_Patronymique,Nom_Usage,Pseudonyme,Prénoms,Dénomination,...,Rep_Perm_Code_Commune,Rep_Perm_Pays,Conjoint_Collab_Nom_Patronym,Conjoint_Collab_Nom_Usage,Conjoint_Collab_Pseudo,Conjoint_Collab_Prénoms,Conjoint_Collab_Date_Fin,ID_Représentant,date_greffe,Libelle_Evt
0,101,Bourg-en-Bresse,2017B00697,829413665,P.Physique,LAUNAY,NaN,NaN,"Jérôme, Marc, Patrick",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-04,Nouveau dirigeant
1,101,Bourg-en-Bresse,2017B00699,829357912,P.Physique,BEREZIAT,GAVAND,NaN,Charline,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-04,Nouveau dirigeant
2,101,Bourg-en-Bresse,2017B00701,829423953,P.Physique,FOURNIER,NaN,NaN,Guillaume,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-04,Nouveau dirigeant
3,101,Bourg-en-Bresse,2017D00289,829421650,P.Physique,BALUFIN,NaN,NaN,Thierry,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-04,Nouveau dirigeant
4,101,Bourg-en-Bresse,2017D00289,829421650,P.Physique,BALUFIN,NaN,NaN,Thierry,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-04,Nouveau dirigeant
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20094,9401,Créteil,2017B02678,829411180,P.Physique,KONATE,NaN,NaN,Bineta,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-09,Nouveau dirigeant
20095,9401,Créteil,2017B02591,824803951,P.Physique,ABDELHAFIDH,NaN,NaN,Imad,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-04,Nouveau dirigeant
20096,9401,Créteil,2017B02672,828905877,P.Physique,ZARROUK,NaN,NaN,Fathi,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-05,Nouveau dirigeant
20097,9401,Créteil,2017B02620,829366418,P.Physique,VASIKARAN,NaN,NaN,Kandiah,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-04,Nouveau dirigeant
20098,9401,Créteil,2017B02720,829482199,P.Physique,ZUILI,NaN,NaN,Robert,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-10,Nouveau dirigeant

## ETS

In [21]:
dtype = {
    "Code Greffe": "int",
    "Nom_Greffe": "str",
    "Numero_Gestion": "str",
    "Siren": "int",
    "Type": "str",
    "Siège_PM": "str",
    "RCS_Registre": "str",
    "Adresse_Ligne1": "str",
    "Adresse_Ligne2": "str",
    "Adresse_Ligne3": "str",
    "Code_Postal": "str",
    "Ville": "str",
    "Code_Commune": "str",
    "Pays": "str",
    "Domiciliataire_Nom": "str",
    "Domiciliataire_Siren": "str",
    "Domiciliataire_Greffe": "str",
    "Domiciliataire_Complément": "str",
    "Siege_Domicile_Représentant": "str",
    "Nom_Commercial": "str",
    "Enseigne": "str",
    "Activité_Ambulante": "str",
    "Activité_Saisonnière": "str",
    "Activité_Non_Sédentaire": "str",
    "Date_Début_Activité": "str",
    "Activité": "str",
    "Origine_Fonds": "str",
    "Origine_Fonds_Info": "str",
    "Type_Exploitation": "str",
    "ID_Etablissement": "int",
    "Date_Greffe": "str",
    "Libelle_Evt": "str",
}

parse_dates = ["Date_Début_Activité", "Date_Greffe"]

In [22]:
inpi.appendData(
    origin="ETS",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_stock,
    list_unique=False,
)

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type,Siège_PM,RCS_Registre,Adresse_Ligne1,Adresse_Ligne2,Adresse_Ligne3,...,Activité_Saisonnière,Activité_Non_Sédentaire,Date_Début_Activité,Activité,Origine_Fonds,Origine_Fonds_Info,Type_Exploitation,ID_Etablissement,Date_Greffe,Libelle_Evt
0,101,Bourg-en-Bresse,2015B01079,813543063,PRI,NaN,NaN,NaN,RD 1075,la Gare,...,non,non,2015-10-01,Industrie pour la production et la pose de pro...,Création,NaN,Exploitation directe,1,2015-09-17 00:00:00,Etablissement ouvert
1,101,Bourg-en-Bresse,2015B01297,800897092,SEP,NaN,NaN,NaN,640 route de Montgrimoux,NaN,...,non,non,2015-07-03,"Acquisition, gestion des titres de toutes soci...",Transfert d'activité (origine hors ressort),ransfert d'activité (origine hors ressort) - C...,Exploitation directe,1,2017-05-03 00:00:00,Etablissement ouvert
2,101,Bourg-en-Bresse,2002D40001,440432052,SEP,NaN,NaN,NaN,13 rue du Plat,NaN,...,non,non,2002-01-01,L'exercice libéral de la profession de médecin,Création,NaN,Exploitation directe,1,2017-02-20 00:00:00,Etablissement ouvert
3,101,Bourg-en-Bresse,2011D00505,534728381,SEP,NaN,NaN,NaN,chemin des Bourbouillons,NaN,...,non,non,2011-09-01,Production laitière,Création,NaN,Exploitation directe,1,2011-09-21 00:00:00,Etablissement ouvert
4,101,Bourg-en-Bresse,2012B00425,750647851,SEP,NaN,NaN,NaN,638 rue Aimé Bonneville,NaN,...,non,non,2014-08-01,Transaction immobilière,Création,NaN,Exploitation directe,2,2017-03-08 00:00:00,Etablissement ouvert
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7575457,9401,Créteil,2001D00529,438001844,SIE,NaN,NaN,78 Avenue Maurice Berteaux,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2003-11-17 00:00:00,Etablissement ouvert
7575458,9401,Créteil,2001D00529,438001844,PRI,NaN,NaN,78 Avenue Maurice Berteaux,NaN,NaN,...,non,non,2001-06-15,Acquisition et mise en valeur des biens immobi...,Divers,- -,NaN,10,2003-11-17 00:00:00,Etablissement ouvert
7575459,9401,Créteil,2015A00338,528246713,PRI,NaN,NaN,5 Rue du Maréchal Vaillant,NaN,NaN,...,non,non,2015-01-01,Production audiovisuelle.,Création,NaN,Exploitation directe,2,2015-05-06 00:00:00,Etablissement ouvert
7575460,9401,Créteil,2013D00829,794404608,SIE,NaN,NaN,125 Boulevard Galliéni,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2013-10-22 00:00:00,Etablissement ouvert
7575461,9401,Créteil,2013D00829,794404608,PRI,NaN,NaN,125 Boulevard Galliéni,NaN,NaN,...,non,non,2013-06-10,Acquisition administration gestion par locatio...,Création,NaN,NaN,2,2013-10-22 00:00:00,Etablissement ouvert

In [23]:
inpi.appendData(
    origin="ETS",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_flux,
    list_unique=False,
)

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type,Siège_PM,RCS_Registre,Adresse_Ligne1,Adresse_Ligne2,Adresse_Ligne3,...,Activité_Saisonnière,Activité_Non_Sédentaire,Date_Début_Activité,Activité,Origine_Fonds,Origine_Fonds_Info,Type_Exploitation,ID_Etablissement,Date_Greffe,Libelle_Evt
0,101,Bourg-en-Bresse,2017B00697,829413665,SEP,NaN,NaN,NaN,1593 route de Civrieux,NaN,...,non,non,2017-04-01,Dispense de cours de yoga consultation psychol...,Création,NaN,Exploitation directe,1,2017-05-04,Etablissement ouvert
1,101,Bourg-en-Bresse,2017B00699,829357912,SIE,NaN,NaN,NaN,6 route de Bourg,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,0,2017-05-04,Etablissement ouvert
2,101,Bourg-en-Bresse,2017B00701,829423953,SEP,NaN,NaN,NaN,6 Grande rue,NaN,...,non,non,2017-05-02,Tous travaux protant sur les canalisations d'e...,Création,NaN,Exploitation directe,1,2017-05-04,Etablissement ouvert
3,101,Bourg-en-Bresse,2017A00322,829341635,PRI,NaN,NaN,NaN,6 place de la Mairie,Hôtel du Centre,...,non,non,2017-04-01,Prestations de services en matière de restaura...,Création,NaN,Exploitation personnelle,1,2017-05-04,Etablissement ouvert
4,101,Bourg-en-Bresse,2017D00289,829421650,SEP,NaN,NaN,NaN,1143 rue Claires Fontaines,NaN,...,non,non,2017-04-13,L'acquisition par voie d'achat ou d'apport la ...,Création,NaN,NaN,1,2017-05-04,Etablissement ouvert
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18701,9401,Créteil,2017B02620,829366418,PRI,NaN,NaN,2 Rue François Villon,NaN,NaN,...,non,non,2017-05-01,Restauration de type rapide (sans alcools).,Création,NaN,Exploitation directe,2,2017-05-04,Etablissement ouvert
18702,9401,Créteil,2017A00621,418006946,PRI,NaN,NaN,10 Rue Gaston Margerie,NaN,NaN,...,non,non,2017-05-09,E commerce.,Création,NaN,Exploitation directe,2,2017-05-05,Etablissement ouvert
18703,9401,Créteil,2017B02720,829482199,SIE,NaN,NaN,5 Rue Louis Marchal,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,1,2017-05-10,Etablissement ouvert
18704,9401,Créteil,2017B02720,829482199,PRI,NaN,NaN,5 Rue Louis Marchal,NaN,NaN,...,non,non,2017-04-25,Les prestations de services en matière d'infor...,Création,NaN,Exploitation directe,2,2017-05-10,Etablissement ouvert
18705,9401,Créteil,2017A00622,829380955,PRI,NaN,NaN,48 Rue Germain Defresne,NaN,NaN,...,non,non,2017-04-01,"Non sédentaire, prêt à porter HFE, maroquineri...",Création,NaN,Exploitation directe,2,2017-05-05,Etablissement ouvert

In [24]:
inpi.appendData(
    origin="ETS",
    EVT=True,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_flux,
    list_unique=False,
)

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type,Siège_PM,RCS_Registre,Adresse_Ligne1,Adresse_Ligne2,Adresse_Ligne3,...,Activité_Saisonnière,Activité_Non_Sédentaire,Date_Début_Activité,Activité,Origine_Fonds,Origine_Fonds_Info,Type_Exploitation,ID_Etablissement,Date_Greffe,Libelle_Evt
0,101,Bourg-en-Bresse,2014B00348,510957269,PRI,NaN,NaN,NaN,1476 route de Lyon,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,1,2017-05-04,Etablissement supprimé
1,101,Bourg-en-Bresse,2016B00332,818866915,PRI,NaN,NaN,NaN,21 les Acacias,Cité des Folliets,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,1,2017-05-04,Etablissement supprimé
2,101,Bourg-en-Bresse,1993C00001,390802940,PRI,NaN,NaN,NaN,"Immeuble ""Ceregrain"" 76 avenue de Marboz",NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,1,2017-05-04,Etablissement supprimé
3,101,Bourg-en-Bresse,2015B00634,811369362,SEC,NaN,NaN,NaN,impasse des Prunus,Sur les Combes,...,non,non,2017-03-27,"Tuyauteur, soudeur, chaudronnier.",Création,NaN,Exploitation directe,2,2017-05-04,Etablissement ouvert
4,101,Bourg-en-Bresse,2017B00048,824330559,SEP,NaN,NaN,NaN,646 avenue des Prés Seigneurs,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,1,2017-05-04,Modifications relatives à un établissement
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479,9401,Créteil,2016A00546,522807221,PRI,NaN,NaN,105 Rue du Général Leclerc,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2,2017-05-10,Modifications relatives à un établissement
9480,9401,Créteil,2017B00202,824822241,PRI,NaN,NaN,11-13 Avenue de la Division Leclerc,NaN,NaN,...,NaN,NaN,NaT,"Production et édition phonographique, entrepre...",NaN,NaN,NaN,2,2017-05-10,Modifications relatives à un établissement
9481,9401,Créteil,2017B01433,828170159,PRI,NaN,NaN,19 Avenue du Château,NaN,NaN,...,NaN,NaN,NaT,"Restaurant, traiteur, vente de plats à emporte...",NaN,NaN,NaN,2,2017-05-10,Modifications relatives à un établissement
9482,9401,Créteil,2017B01433,828170159,PRI,NaN,NaN,19 Avenue du Château,NaN,NaN,...,non,non,2017-05-05,"Restaurant, traiteur, vente de plats à emporte...",Achat,- Précédent exploitant - CHATEAU D'OR,Exploitation directe,2,2017-05-10,Modifications relatives à un établissement
9483,9401,Créteil,2017B01433,828170159,PRI,NaN,NaN,19 Avenue du Château,NaN,NaN,...,non,non,2017-05-05,"Restaurant, traiteur, vente de plats à emporte...",Achat,- Précédent exploitant - CHATEAU D'OR,Exploitation directe,2,2017-05-10,Modifications relatives à un établissement

## ACTES

In [ ]:
dtype = {
    'Code Greffe':'int',
 'Nom_Greffe':'str',
 'Numero_Gestion':'str',
 'Siren':'int',
 'Date_Dépôt':'str',
 'Numéro_Dépôt':'str',
 'Date_Acte':'str',
 'Type_Acte':'str',
 'Décision':'str',
 'Etat':'str'
}

parse_dates = ["Date_Dépôt", "Date_Acte"]

In [ ]:
inpi.appendData(
    origin="ACTES",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_stock,
    list_unique=False,
)

In [ ]:
inpi.appendData(
    origin="ACTES",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_flux,
    list_unique=False,
)

In [ ]:
inpi.appendData(
    origin="ACTES",
    EVT=True,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_flux,
    list_unique=False,
)

## COMPTES ANNUELS

In [ ]:
dtype = {
    'Code Greffe':'int',
 'Nom_Greffe':'str',
 'Numero_Gestion':'str',
 'Siren':'int',
 'Date_Dépôt':'str',
 'Numéro_Dépôt':'str',
 'Date_Clôture':'str',
 'Durée_Exercice':pd.Int64Dtype(),
 'Type_Remise':'str',
 'Confidentialité':'str',
 'Confidentialité_Compte_résultat':'str',
 'Etat':'str'
}

parse_dates = ["Date_Dépôt", "Date_Clôture"]

In [ ]:
inpi.appendData(
    origin="COMPTES_ANNUELS",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_stock,
    list_unique=False,
)

In [ ]:
inpi.appendData(
    origin="COMPTES_ANNUELS",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_flux,
    list_unique=False,
)

In [ ]:
inpi.appendData(
    origin="COMPTES_ANNUELS",
    EVT=True,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_flux,
    list_unique=False,
)

## OBS

In [ ]:
dtype = {
    'Code Greffe':'int',
 'Nom_Greffe':'str',
 'Numero_Gestion':'str',
 'Siren':'int',
 'ID_Observation':'int',
 'Numéro_Observation':'int',
 'Date_Ajout':'str',
 'Date_Suppression':'str',
 'Texte':'str',
 'Date_Greffe':'str',
 'Etat ':'str'
}

parse_dates = ["Date_Ajout", "Date_Suppression", "Date_Greffe"]

In [ ]:
inpi.appendData(
    origin="OBS",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_stock,
    list_unique=False,
)

In [ ]:
inpi.appendData(
    origin="OBS",
    EVT=False,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_flux,
    list_unique=False,
)

In [ ]:
inpi.appendData(
    origin="OBS",
    EVT=True,
    dtype=dtype,
    parse_date=parse_dates,
    path=path_flux,
    list_unique=False,
)