# Aims to merge initial, partiel, flux (new + evt)

In [10]:
import boto3, json
import dask.dataframe as dd
import pandas as pd
import Match_inpi_insee.aws_connectors as aws
#from tqdm.notebook import tqdm
#import tqdm
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
inpi_nature = 'PP' #* nature → ACTES/COMPTES/ETS/etc

import_path = 'SIRETISATION'
match_type='matche'
import_full_path =  "{}/{}".format(import_path,match_type)

initial_file_name = "{}_{}_{}_{}.{}".format('insee',inpi_nature,'initial',match_type,'gz')#insee_PP_initial_matche.gz
new_file_name = "{}_{}_{}_{}.{}".format('insee',inpi_nature,'new',match_type,'gz')#insee_PP_new_matche.gz
evt_file_name = "{}_{}_{}_{}.{}".format('insee',inpi_nature,'evt',match_type,'gz')#insee_PP_evt_matche.gz
partiel_file_name = "{}_{}_{}_{}.{}".format('insee',inpi_nature,'partiel',match_type,'gz')
initial_filepath = "{}/{}/{}".format(import_path,match_type,initial_file_name)
new_filepath = "{}/{}/{}".format(import_path,match_type,new_file_name)
evt_filepath = "{}/{}/{}".format(import_path,match_type,evt_file_name)
partiel_filepath = "{}/{}/{}".format(import_path,match_type,partiel_file_name)

In [12]:
# instanciate AWS connection
instance_aws = 'https://calfdata.s3.eu-west-3.amazonaws.com'
bucket = 'calfdata'
AWS_connection = aws.aws_instantiate(instance_aws, bucket)

In [13]:
# get files

pp_initial = AWS_connection.url_instance_bucket(path_file = initial_filepath)
pp_new = AWS_connection.url_instance_bucket(path_file = new_filepath)
pp_evt = AWS_connection.url_instance_bucket(path_file = evt_filepath)
pp_partiel = AWS_connection.url_instance_bucket(path_file = partiel_filepath)

In [14]:
## INPI
dtypes__ = {'Siren':'object',
            'Adresse_Ligne1': 'object',
       'Code_Commune': 'object',
       'Code_Postal': 'object',
       'Conjoint_Collab_Pseudo': 'object',
       'DAP_Adresse_Ligne1': 'object',
       'DAP_Code_Commune': 'object',
       'Date_Immatriculation': 'object',
       'Date_1re_Immatriculation': 'object',
       'Date_Radiation': 'object',
       'Date_Greffe': 'object',
       'Sans_Activité': 'object'}

In [15]:
data_pp_initial= dd.read_csv(pp_initial,
                         compression='gzip',
                         dtype=dtypes__,
                         blocksize=None,
                         low_memory=False
                      )
data_pp_initial['source']='initial'
data_pp_initial.head()

,siren,siret,statutDiffusionEtablissement,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Sans_Activité,Adresse_Ligne1,Code_Postal,Code_Commune,DAP_Adresse_Ligne1,DAP_Code_Commune,Conjoint_Collab_Pseudo,Date_Greffe,_merge,url,source
0,300004066,30000406600019,O,1973-08-01,NaN,NaN,NaN,14 rue du Tilleul,59600,59392,NaN,NaN,NaN,2017-05-04,both,https://data.inpi.fr/entreprises/300004066,initial
1,300036688,30003668800012,O,1974-03-18,NaN,NaN,NaN,NaN,81100,NaN,NaN,NaN,NaN,2017-05-04,both,https://data.inpi.fr/entreprises/300036688,initial
2,300044542,30004454200029,O,1979-11-29,NaN,NaN,NaN,NaN,56510,NaN,NaN,NaN,NaN,1979-11-29,both,https://data.inpi.fr/entreprises/300044542,initial
3,300047388,30004738800024,O,1974-01-17,NaN,NaN,NaN,NaN,56600,NaN,NaN,NaN,NaN,1974-01-17,both,https://data.inpi.fr/entreprises/300047388,initial
4,300054871,30005487100011,O,1973-09-06,NaN,NaN,NaN,NaN,22700,22168,NaN,NaN,NaN,2016-10-05,both,https://data.inpi.fr/entreprises/300054871,initial

In [17]:
data_pp_new= dd.read_csv(pp_new,
                         compression='gzip',
                         dtype=dtypes__,
                         blocksize=None,
                         low_memory=False
                      )
data_pp_new['source']='new'
data_pp_new.head()

,siren,siret,statutDiffusionEtablissement,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Sans_Activité,Adresse_Ligne1,Code_Postal,Code_Commune,DAP_Adresse_Ligne1,DAP_Code_Commune,Conjoint_Collab_Pseudo,Date_Greffe,_merge,url,source
0,314488321,31448832100014,O,2017-12-18,NaN,NaN,NaN,NaN,34290,34009,NaN,NaN,NaN,2017-12-18,both,https://data.inpi.fr/entreprises/314488321,new
1,314488321,31448832100022,O,2017-12-18,NaN,NaN,NaN,NaN,34290,34009,NaN,NaN,NaN,2017-12-18,both,https://data.inpi.fr/entreprises/314488321,new
2,314488321,31448832100030,O,2017-12-18,NaN,NaN,NaN,NaN,34290,34009,NaN,NaN,NaN,2017-12-18,both,https://data.inpi.fr/entreprises/314488321,new
3,331285775,33128577500036,O,2017-12-26,NaN,NaN,NaN,NaN,29360,29031,NaN,NaN,NaN,2017-12-26,both,https://data.inpi.fr/entreprises/331285775,new
4,331285775,33128577500044,O,2017-12-26,NaN,NaN,NaN,NaN,29360,29031,NaN,NaN,NaN,2017-12-26,both,https://data.inpi.fr/entreprises/331285775,new

In [18]:
data_pp_evt= dd.read_csv(pp_evt,
                         compression='gzip',
                         dtype=dtypes__,
                         blocksize=None,
                         low_memory=False
                      )
data_pp_evt['source']='evt'
data_pp_evt.head()

,siren,siret,statutDiffusionEtablissement,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Sans_Activité,Adresse_Ligne1,Code_Postal,Code_Commune,DAP_Adresse_Ligne1,DAP_Code_Commune,Conjoint_Collab_Pseudo,Date_Greffe,_merge,url,source
0,305597478,30559747800034,O,NaN,NaN,2017-12-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-06,both,https://data.inpi.fr/entreprises/305597478,evt
1,305597478,30559747800042,O,NaN,NaN,2017-12-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-06,both,https://data.inpi.fr/entreprises/305597478,evt
2,305597478,30559747800059,O,NaN,NaN,2017-12-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-06,both,https://data.inpi.fr/entreprises/305597478,evt
3,305597478,30559747800067,O,NaN,NaN,2017-12-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-06,both,https://data.inpi.fr/entreprises/305597478,evt
4,305597478,30559747800091,O,NaN,NaN,2017-12-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-06,both,https://data.inpi.fr/entreprises/305597478,evt

In [19]:
data_pp_partiel= dd.read_csv(pp_partiel,
                         compression='gzip',
                         dtype=dtypes__,
                         blocksize=None,
                         low_memory=False
                      )
data_pp_partiel['source']='partiel'
data_pp_partiel.head()

,siren,siret,statutDiffusionEtablissement,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Sans_Activité,Adresse_Ligne1,Code_Postal,Code_Commune,DAP_Adresse_Ligne1,DAP_Code_Commune,Conjoint_Collab_Pseudo,Date_Greffe,_merge,url,source
0,36410462,3641046200018,O,1964-02-05,NaN,NaN,NaN,NaN,06600,06004,NaN,NaN,NaN,2017-11-17,both,https://data.inpi.fr/entreprises/036410462,partiel
1,301105615,30110561500019,O,1974-07-02,NaN,NaN,NaN,NaN,20150,NaN,NaN,NaN,NaN,2017-08-04,both,https://data.inpi.fr/entreprises/301105615,partiel
2,303405203,30340520300017,O,1978-03-09,NaN,NaN,NaN,NaN,84210,84001,NaN,NaN,NaN,2018-03-05,both,https://data.inpi.fr/entreprises/303405203,partiel
3,303502876,30350287600038,O,2001-03-27,NaN,NaN,NaN,NaN,81000,NaN,NaN,NaN,NaN,2018-08-29,both,https://data.inpi.fr/entreprises/303502876,partiel
4,303502876,30350287600046,O,2001-03-27,NaN,NaN,NaN,NaN,81000,NaN,NaN,NaN,NaN,2018-08-29,both,https://data.inpi.fr/entreprises/303502876,partiel

In [20]:
# Union all data
data_pp_all=data_pp_new.append(data_pp_initial)
data_pp_all=data_pp_all.append(data_pp_evt)
data_pp_all=data_pp_all.append(data_pp_partiel)
data_pp_all.head()

,siren,siret,statutDiffusionEtablissement,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Sans_Activité,Adresse_Ligne1,Code_Postal,Code_Commune,DAP_Adresse_Ligne1,DAP_Code_Commune,Conjoint_Collab_Pseudo,Date_Greffe,_merge,url,source
0,314488321,31448832100014,O,2017-12-18,NaN,NaN,NaN,NaN,34290,34009,NaN,NaN,NaN,2017-12-18,both,https://data.inpi.fr/entreprises/314488321,new
1,314488321,31448832100022,O,2017-12-18,NaN,NaN,NaN,NaN,34290,34009,NaN,NaN,NaN,2017-12-18,both,https://data.inpi.fr/entreprises/314488321,new
2,314488321,31448832100030,O,2017-12-18,NaN,NaN,NaN,NaN,34290,34009,NaN,NaN,NaN,2017-12-18,both,https://data.inpi.fr/entreprises/314488321,new
3,331285775,33128577500036,O,2017-12-26,NaN,NaN,NaN,NaN,29360,29031,NaN,NaN,NaN,2017-12-26,both,https://data.inpi.fr/entreprises/331285775,new
4,331285775,33128577500044,O,2017-12-26,NaN,NaN,NaN,NaN,29360,29031,NaN,NaN,NaN,2017-12-26,both,https://data.inpi.fr/entreprises/331285775,new

In [21]:
# check source repartition
data_pp_all['source'].value_counts().compute()

initial    1189644
partiel      25987
evt          20998
new          19862
Name: source, dtype: int64

In [22]:
# sort by siren
data_pp_all_sorted = data_pp_all.compute().sort_values(['siren','Date_Greffe','source'])

In [23]:
# define save_to paths
inpi_save_to_root_path = 'SIRETISATION/matche'
gz_filename = 'insee_PP_all_matche.gz'
save_to_full_filename =  "{}/{}".format(inpi_save_to_root_path,gz_filename) #'SIRETISATION/matche/insee_PP_all_matche.gz'

In [24]:
gz_output = data_pp_all_sorted.to_csv(
    gz_filename,
    index = False,
    compression='gzip')

AWS_connection.save_to_s3(file_name=gz_filename,file_path=save_to_full_filename)

In [25]:
def siren_unique(df):
    """
    """
    print("Nombre total obs: {}".format(len(df)))
    count_ = (df
              .groupby('siren')['siren']
              .count()
              .rename('count')
              .reset_index()
              .groupby('count')['count']
              .count()
              .reset_index(name='total_count')
              .set_index('count')
              # .compute()
              .assign(pct=lambda x: x/x.sum())
              .iloc[:10, :]
              .style
              .format('{:,.2%}', subset=['pct'])
              )
    return count_

In [26]:
# count nb siret by siren
siren_unique(data_pp_all_sorted)

Nombre total obs: 1256491

In [27]:
# count siren that are in several sources
count_sources = (data_pp_all_sorted.groupby(['siren'])['source']
              .nunique()
              .rename('count')
 .reset_index()
              .groupby('count')['count']
              .count()
)
count_sources

count
1    712467
2     11147
3       444
4         1
Name: count, dtype: int64

In [32]:
# get siren that come from 4 different sources
(data_pp_all_sorted.groupby(['siren'])['source']
              .nunique()
              .rename('count')
 .loc[lambda x: x ==4] #.loc[lambda x: x> 1]
)

siren
349599092    4
Name: count, dtype: int64

In [33]:
# view data about one siren that is in 4 different sources
data_pp_all_sorted.loc[lambda x: x['siren'].isin(['349599092'])]

,siren,siret,statutDiffusionEtablissement,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Sans_Activité,Adresse_Ligne1,Code_Postal,Code_Commune,DAP_Adresse_Ligne1,DAP_Code_Commune,Conjoint_Collab_Pseudo,Date_Greffe,_merge,url,source
973262,349599092,34959909200013,O,2000-01-01,NaN,NaN,NaN,NaN,50420,50592,NaN,NaN,NaN,2016-07-26,both,https://data.inpi.fr/entreprises/349599092,initial
973263,349599092,34959909200021,O,2000-01-01,NaN,NaN,NaN,NaN,50420,50592,NaN,NaN,NaN,2016-07-26,both,https://data.inpi.fr/entreprises/349599092,initial
16283,349599092,34959909200013,O,2017-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-15,both,https://data.inpi.fr/entreprises/349599092,new
16284,349599092,34959909200021,O,2017-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-15,both,https://data.inpi.fr/entreprises/349599092,new
16946,349599092,34959909200013,O,NaN,NaN,NaN,NaN,NaN,50420,50592,NaN,NaN,NaN,2017-12-18,both,https://data.inpi.fr/entreprises/349599092,evt
16947,349599092,34959909200021,O,NaN,NaN,NaN,NaN,NaN,50420,50592,NaN,NaN,NaN,2017-12-18,both,https://data.inpi.fr/entreprises/349599092,evt
16948,349599092,34959909200013,O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-18,both,https://data.inpi.fr/entreprises/349599092,evt
16949,349599092,34959909200021,O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-18,both,https://data.inpi.fr/entreprises/349599092,evt
21375,349599092,34959909200013,O,2000-01-01,NaN,NaN,NaN,NaN,50420,50592,NaN,NaN,NaN,2018-01-18,both,https://data.inpi.fr/entreprises/349599092,partiel
21376,349599092,34959909200021,O,2000-01-01,NaN,NaN,NaN,NaN,50420,50592,NaN,NaN,NaN,2018-01-18,both,https://data.inpi.fr/entreprises/349599092,partiel

In [28]:
# get siren that come from 3 different sources
(data_pp_all_sorted.groupby(['siren'])['source']
              .nunique()
              .rename('count')
 .loc[lambda x: x ==3] #.loc[lambda x: x> 1]
)

siren
46412375     3
46910147     3
47011192     3
86911633     3
86912417     3
300944915    3
301504098    3
303718415    3
304468697    3
305371049    3
305597478    3
305906331    3
306061649    3
306671884    3
307724724    3
309239697    3
309628568    3
309874550    3
309996536    3
310030374    3
310603857    3
311751671    3
311886451    3
311936637    3
313325797    3
314308842    3
314412131    3
315396853    3
315452219    3
315456509    3
            ..
820315273    3
820468601    3
820724904    3
820935989    3
821135043    3
821481405    3
822410130    3
822532883    3
822714655    3
822777561    3
822800082    3
823016357    3
823433834    3
823865423    3
824085260    3
824380976    3
824853501    3
825367543    3
825401979    3
827687641    3
827953969    3
828163162    3
828212217    3
828236729    3
828493510    3
829129428    3
829212828    3
829292366    3
830381182    3
968404137    3
Name: count, Length: 444, dtype: int64

In [29]:
# view data about one siren that is in 3 different sources
data_pp_all_sorted.loc[lambda x: x['siren'].isin(['344981501'])]

,siren,siret,statutDiffusionEtablissement,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Sans_Activité,Adresse_Ligne1,Code_Postal,Code_Commune,DAP_Adresse_Ligne1,DAP_Code_Commune,Conjoint_Collab_Pseudo,Date_Greffe,_merge,url,source
618467,344981501,34498150100028,O,1993-02-23,NaN,NaN,NaN,NaN,20137,NaN,NaN,NaN,NaN,2003-09-02,both,https://data.inpi.fr/entreprises/344981501,initial
618468,344981501,34498150100036,O,1993-02-23,NaN,NaN,NaN,NaN,20137,NaN,NaN,NaN,NaN,2003-09-02,both,https://data.inpi.fr/entreprises/344981501,initial
618469,344981501,34498150100044,O,1993-02-23,NaN,NaN,NaN,NaN,20137,NaN,NaN,NaN,NaN,2003-09-02,both,https://data.inpi.fr/entreprises/344981501,initial
618470,344981501,34498150100051,O,1993-02-23,NaN,NaN,NaN,NaN,20137,NaN,NaN,NaN,NaN,2003-09-02,both,https://data.inpi.fr/entreprises/344981501,initial
13376,344981501,34498150100028,O,1993-02-23,NaN,NaN,NaN,NaN,20137,NaN,NaN,NaN,NaN,2017-09-14,both,https://data.inpi.fr/entreprises/344981501,partiel
13377,344981501,34498150100036,O,1993-02-23,NaN,NaN,NaN,NaN,20137,NaN,NaN,NaN,NaN,2017-09-14,both,https://data.inpi.fr/entreprises/344981501,partiel
13378,344981501,34498150100044,O,1993-02-23,NaN,NaN,NaN,NaN,20137,NaN,NaN,NaN,NaN,2017-09-14,both,https://data.inpi.fr/entreprises/344981501,partiel
13379,344981501,34498150100051,O,1993-02-23,NaN,NaN,NaN,NaN,20137,NaN,NaN,NaN,NaN,2017-09-14,both,https://data.inpi.fr/entreprises/344981501,partiel
10587,344981501,34498150100028,O,2017-12-21,NaN,NaN,NaN,NaN,20137,2A247,NaN,NaN,NaN,2017-12-21,both,https://data.inpi.fr/entreprises/344981501,new
10588,344981501,34498150100036,O,2017-12-21,NaN,NaN,NaN,NaN,20137,2A247,NaN,NaN,NaN,2017-12-21,both,https://data.inpi.fr/entreprises/344981501,new
10589,344981501,34498150100044,O,2017-12-21,NaN,NaN,NaN,NaN,20137,2A247,NaN,NaN,NaN,2017-12-21,both,https://data.inpi.fr/entreprises/344981501,new
10590,344981501,34498150100051,O,2017-12-21,NaN,NaN,NaN,NaN,20137,2A247,NaN,NaN,NaN,2017-12-21,both,https://data.inpi.fr/entreprises/344981501,new
10591,344981501,34498150100028,O,2017-12-21,NaN,NaN,NaN,NaN,20137,2A247,NaN,NaN,NaN,2017-12-21,both,https://data.inpi.fr/entreprises/344981501,new
10592,344981501,34498150100036,O,2017-12-21,NaN,NaN,NaN,NaN,20137,2A247,NaN,NaN,NaN,2017-12-21,both,https://data.inpi.fr/entreprises/344981501,new
10593,344981501,34498150100044,O,2017-12-21,NaN,NaN,NaN,NaN,20137,2A247,NaN,NaN,NaN,2017-12-21,both,https://data.inpi.fr/entreprises/344981501,new
10594,344981501,34498150100051,O,2017-12-21,NaN,NaN,NaN,NaN,20137,2A247,NaN,NaN,NaN,2017-12-21,both,https://data.inpi.fr/entreprises/344981501,new

In [30]:
# get siren that come from 2 different sources
(data_pp_all_sorted.groupby(['siren'])['source']
              .nunique()
              .rename('count')
 .loc[lambda x: x ==2]
)

siren
6041099      2
6840540      2
37110095     2
45611332     2
45712411     2
45712452     2
45712742     2
45811403     2
45914157     2
46212494     2
46410726     2
46610069     2
46612123     2
46612719     2
46710034     2
46710810     2
46712030     2
46810354     2
46810701     2
46811527     2
46812046     2
46912911     2
47011465     2
47111513     2
47211560     2
47212840     2
47311352     2
56721467     2
60416344     2
70702691     2
            ..
917340663    2
926741216    2
927340570    2
936040682    2
936340074    2
950051326    2
950288688    2
950311936    2
950325233    2
950328948    2
950370486    2
950372839    2
950374371    2
950382895    2
950386565    2
950389676    2
950411165    2
950428557    2
950463885    2
950562439    2
950573303    2
950606095    2
950611178    2
950627323    2
964421051    2
969401835    2
972709885    2
976713081    2
977111020    2
997140207    2
Name: count, Length: 11147, dtype: int64

In [31]:
# view data about one siren that is in 2 different sources
data_pp_all_sorted.loc[lambda x: x['siren'].isin(['6041099'])]

,siren,siret,statutDiffusionEtablissement,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Sans_Activité,Adresse_Ligne1,Code_Postal,Code_Commune,DAP_Adresse_Ligne1,DAP_Code_Commune,Conjoint_Collab_Pseudo,Date_Greffe,_merge,url,source
277931,6041099,604109900018,O,1960-05-24,NaN,NaN,NaN,NaN,04120,NaN,NaN,NaN,NaN,2009-01-01,both,https://data.inpi.fr/entreprises/006041099,initial
277932,6041099,604109900026,O,1960-05-24,NaN,NaN,NaN,NaN,04120,NaN,NaN,NaN,NaN,2009-01-01,both,https://data.inpi.fr/entreprises/006041099,initial
277933,6041099,604109900034,O,1960-05-24,NaN,NaN,NaN,NaN,04120,NaN,NaN,NaN,NaN,2009-01-01,both,https://data.inpi.fr/entreprises/006041099,initial
6087,6041099,604109900018,O,1960-05-24,NaN,NaN,NaN,NaN,04120,NaN,NaN,NaN,NaN,2018-05-17,both,https://data.inpi.fr/entreprises/006041099,partiel
6088,6041099,604109900026,O,1960-05-24,NaN,NaN,NaN,NaN,04120,NaN,NaN,NaN,NaN,2018-05-17,both,https://data.inpi.fr/entreprises/006041099,partiel
6089,6041099,604109900034,O,1960-05-24,NaN,NaN,NaN,NaN,04120,NaN,NaN,NaN,NaN,2018-05-17,both,https://data.inpi.fr/entreprises/006041099,partiel