# Aims to check example of siren on full process

In [1]:
import boto3, json
import dask.dataframe as dd
import pandas as pd
import Match_inpi_insee.aws_connectors as aws
%load_ext autoreload
%autoreload 2

In [2]:
# '349599092' is in initial, partiel, new, evt
# '344981501' is in initial, partiel, new
# '6041099' is in initial, partiel

In [3]:
siren_test = 6041099

In [4]:
instance_aws = 'https://calfdata.s3.eu-west-3.amazonaws.com'
bucket = 'calfdata'

# define import paths
## INSEE
source='insee'
insee_csv_relative_filepath = "INSEE/Stock/ETS/StockEtablissement_utf8.csv"

In [5]:
# instanciate AWS connection
AWS_connection = aws.aws_instantiate(instance_aws, bucket)

In [6]:
# get files

# data    
insee = AWS_connection.url_instance_bucket(path_file = insee_csv_relative_filepath)

In [7]:
usecols_=['siren',
                                   'siret',
                                   "numeroVoieEtablissement",
                                   "indiceRepetitionEtablissement",
                                   "typeVoieEtablissement",
                                   "libelleVoieEtablissement",
                                   "complementAdresseEtablissement",
                                   "codeCommuneEtablissement",
                                   "libelleCommuneEtablissement",
                                   "codePostalEtablissement",
                                   "codeCedexEtablissement",
                                   "libelleCedexEtablissement",
                                   "distributionSpecialeEtablissement",
                                   "libelleCommuneEtrangerEtablissement",
                                   "codePaysEtrangerEtablissement",
                                   "libellePaysEtrangerEtablissement"
                                   ]
dtype_={'siren': 'object',
                                 'siret': 'object',
                                 "numeroVoieEtablissement":'object',
                                   "indiceRepetitionEtablissement":'object',
                                   "typeVoieEtablissement":'object',
                                   "libelleVoieEtablissement":'object',
                                   "complementAdresseEtablissement":'object',
                                   "codeCommuneEtablissement":'object',
                                   "libelleCommuneEtablissement":'object',
                                   "codePostalEtablissement":'object',
                                   "codeCedexEtablissement":'object',
                                   "libelleCedexEtablissement":'object',
                                   "distributionSpecialeEtablissement":'object',
                                   "libelleCommuneEtrangerEtablissement":'object',
                                   "codePaysEtrangerEtablissement":'object',
                                   "libellePaysEtrangerEtablissement":'object'
                                 }

In [8]:
#load insee full data

data_insee_ = dd.read_csv(insee,
                          usecols=usecols_,
                          dtype=dtype_
                          )

In [ ]:
# filter on example siren
#data_insee_.compute().loc[lambda x: x['siren'].isin(siren_test)] #ko

In [9]:
#matched data
# define import paths
import_path = 'SIRETISATION/matche'
gz_filename = 'insee_PP_all_matche.gz'
full_filename =  "{}/{}".format(import_path,gz_filename) #'SIRETISATION/matche/insee_PP_all_matche.gz'


## dtypes__
dtypes__ = {'Siren':'object',
            'Adresse_Ligne1': 'object',
       'Code_Commune': 'object',
       'Code_Postal': 'object',
       'Conjoint_Collab_Pseudo': 'object',
       'DAP_Adresse_Ligne1': 'object',
       'DAP_Code_Commune': 'object',
       'Date_Immatriculation': 'object',
       'Date_1re_Immatriculation': 'object',
       'Date_Radiation': 'object',
       'Date_Greffe': 'object',
       'Sans_Activité': 'object'}

# get files
matche = AWS_connection.url_instance_bucket(path_file = full_filename)

#load matched data
data_matche= dd.read_csv(matche,
                         compression='gzip',
                         dtype=dtypes__,
                         blocksize=None,
                         low_memory=False
                      )

In [10]:
data_matche.head()

,siren,siret,statutDiffusionEtablissement,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Sans_Activité,Adresse_Ligne1,Code_Postal,Code_Commune,DAP_Adresse_Ligne1,DAP_Code_Commune,Conjoint_Collab_Pseudo,Date_Greffe,_merge,url,source
0,325175,32517500016,O,2011-10-27,NaN,NaN,NaN,17 Avenue des Myrtes,13600,NaN,NaN,NaN,NaN,2014-01-21,both,https://data.inpi.fr/entreprises/000325175,initial
1,325175,32517500024,O,2011-10-27,NaN,NaN,NaN,17 Avenue des Myrtes,13600,NaN,NaN,NaN,NaN,2014-01-21,both,https://data.inpi.fr/entreprises/000325175,initial
2,325175,32517500032,O,2011-10-27,NaN,NaN,NaN,17 Avenue des Myrtes,13600,NaN,NaN,NaN,NaN,2014-01-21,both,https://data.inpi.fr/entreprises/000325175,initial
3,325175,32517500040,O,2011-10-27,NaN,NaN,NaN,17 Avenue des Myrtes,13600,NaN,NaN,NaN,NaN,2014-01-21,both,https://data.inpi.fr/entreprises/000325175,initial
4,325175,32517500057,O,2011-10-27,NaN,NaN,NaN,17 Avenue des Myrtes,13600,NaN,NaN,NaN,NaN,2014-01-21,both,https://data.inpi.fr/entreprises/000325175,initial

In [12]:
# filter on example siren
data_matche = data_matche.compute().loc[lambda x: x['siren'].isin([siren_test])]

In [13]:
data_matche

,siren,siret,statutDiffusionEtablissement,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Sans_Activité,Adresse_Ligne1,Code_Postal,Code_Commune,DAP_Adresse_Ligne1,DAP_Code_Commune,Conjoint_Collab_Pseudo,Date_Greffe,_merge,url,source
196,6041099,604109900018,O,1960-05-24,NaN,NaN,NaN,NaN,04120,NaN,NaN,NaN,NaN,2009-01-01,both,https://data.inpi.fr/entreprises/006041099,initial
197,6041099,604109900026,O,1960-05-24,NaN,NaN,NaN,NaN,04120,NaN,NaN,NaN,NaN,2009-01-01,both,https://data.inpi.fr/entreprises/006041099,initial
198,6041099,604109900034,O,1960-05-24,NaN,NaN,NaN,NaN,04120,NaN,NaN,NaN,NaN,2009-01-01,both,https://data.inpi.fr/entreprises/006041099,initial
199,6041099,604109900018,O,1960-05-24,NaN,NaN,NaN,NaN,04120,NaN,NaN,NaN,NaN,2018-05-17,both,https://data.inpi.fr/entreprises/006041099,partiel
200,6041099,604109900026,O,1960-05-24,NaN,NaN,NaN,NaN,04120,NaN,NaN,NaN,NaN,2018-05-17,both,https://data.inpi.fr/entreprises/006041099,partiel
201,6041099,604109900034,O,1960-05-24,NaN,NaN,NaN,NaN,04120,NaN,NaN,NaN,NaN,2018-05-17,both,https://data.inpi.fr/entreprises/006041099,partiel