# US 2411

Regle
    
*  [NEW] Une création d'une séquence peut avoir plusieurs transmission a des intervalles plus ou moins long
  *    Si plusieurs transmissions avec le libellé “création établissement” ou “création **” , alors il faut prendre la dernière date de transmission

In [ ]:
from awsPy.aws_authorization import aws_connector
from awsPy.aws_athena import service_athena
import os
from pathlib import Path
import pandas as pd
pd.set_option('display.max_columns', None)

In [ ]:
bucket = 'calfdata'
path = os.getcwd()
parent_path = str(Path(path).parent.parent)
path_cred = "{}/Credentials/credential_AWS.json".format(parent_path)
con = aws_connector.aws_instantiate(credential = path_cred,
                                        region = 'eu-west-3')
client= con.client_boto()
athena = service_athena.connect_athena(client = client,
                      bucket = 'calfdata',
                                      credentials  = path_cred)

In [ ]:
pd.read_csv('query_hive_70601.csv').head()

In [ ]:
query = """
SELECT * 
FROM inpi.initial_partiel_evt_new_ets_status_final
WHERE siren = '341180255'
"""

In [ ]:
athena.query_to_df(query = query,
                   s3_output = 'INPI/sql_output',
                   region = 'eu-west-3')

In [ ]:
454070/3989209