# Insee UL to Athena

In [1]:
from awsPy.aws_authorization import aws_connector
from awsPy.aws_s3 import service_s3
from awsPy.aws_athena import service_athena
import os, time
from pathlib import Path

In [2]:
bucket = 'calfdata'
path = os.getcwd()
parent_path = str(Path(path).parent)
path_cred = "{}/credential_AWS.json".format(parent_path)
con = aws_connector.aws_instantiate(credential = path_cred,
                                        region = 'eu-west-3')
client= con.client_boto()
s3 = service_s3.connect_S3(client = client,
                      bucket = 'calfdata') 
athena = service_athena.connect_athena(client = client,
                      bucket = 'calfdata')

In [3]:
varname = s3.read_df_from_s3(key = 'INSEE/variables_name/dessinstockunitelegale.csv',
                sep = ',',encoding = None)

## Create Table

In [4]:
output = athena.run_query(
                        query="DROP TABLE `insee_ul`",
                        database = "inpi",
    s3_output='INSEE/sql_output')

Execution ID: 654d9653-df89-46bf-8a5a-05b601af35d5

In [5]:
query_tb = \
    """CREATE EXTERNAL TABLE IF NOT EXISTS inpi.insee_ul (
    {0}

    )
     ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
    WITH SERDEPROPERTIES (
   'separatorChar' = ',',
   'quoteChar' = '"'
   )
     LOCATION 's3://calfdata/INSEE/00_rawData/UL'
     TBLPROPERTIES ('has_encrypted_data'='false',
              'skip.header.line.count'='1');"""

In [ ]:
varname.iloc[i, 0]

In [6]:
field = ""
for i, v in enumerate(varname.sort_values(by = 'Ordre')['Type']):
    if i != varname.shape[0] -1:
        if v == "Numérique":
            field += "`{}` integer, \n".format(varname.sort_values(
                by = 'Ordre').iloc[i, 0])
        else:
             field += "`{}` string, \n".format(varname.sort_values(
                 by = 'Ordre').iloc[i, 0])
    else:
        if v == "Numérique":
            field += "`{}` integer \n".format(varname.sort_values(
                by = 'Ordre').iloc[i, 0])
        else:
             field += "`{}` string \n".format(varname.sort_values(
                 by = 'Ordre').iloc[i, 0])

In [ ]:
print(query_tb.format(field))

In [7]:
athena.run_query(query_tb.format(field),
                 database='inpi',
                 s3_output='INSEE/sql_output'
                )

Execution ID: 235bbbb1-3540-4f7f-9c98-c0c768d11a2c

{'QueryExecutionId': '235bbbb1-3540-4f7f-9c98-c0c768d11a2c',
 'ResponseMetadata': {'RequestId': 'e58e5288-a5a3-4919-afda-1aa49c29ff92',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'content-type': 'application/x-amz-json-1.1',
   'date': 'Tue, 26 May 2020 07:52:21 GMT',
   'x-amzn-requestid': 'e58e5288-a5a3-4919-afda-1aa49c29ff92',
   'content-length': '59',
   'connection': 'keep-alive'},
  'RetryAttempts': 0}}

In [10]:
print(query_tb.format(field))

CREATE EXTERNAL TABLE IF NOT EXISTS inpi.insee_ul (
    `siren` string,
`statutDiffusionUniteLegale` string,
`unitePurgeeUniteLegale` string,
`dateCreationUniteLegale` string,
`sigleUniteLegale` string,
`sexeUniteLegale` string,
`prenom1UniteLegale` string,
`prenom2UniteLegale` string,
`prenom3UniteLegale` string,
`prenom4UniteLegale` string,
`prenomUsuelUniteLegale` string,
`pseudonymeUniteLegale` string,
`identifiantAssociationUniteLegale` string,
`trancheEffectifsUniteLegale` string,
`anneeEffectifsUniteLegale` string,
`dateDernierTraitementUniteLegale` string,
`nombrePeriodesUniteLegale` integer,
`categorieEntreprise` string,
`anneeCategorieEntreprise` string,
`dateDebut` string,
`etatAdministratifUniteLegale` string,
`nomUniteLegale` string,
`nomUsageUniteLegale` string,
`denominationUniteLegale` string,
`denominationUsuelle1UniteLegale` string,
`denominationUsuelle2UniteLegale` string,
`denominationUsuelle3UniteLegale` string,
`categorieJuridiqueUniteLegale` string,
`activitePrincipaleUniteLegale` string,
`nomenclatureActivitePrincipaleUniteLegale` string,
`nicSiegeUniteLegale` string,
`economieSocialeSolidaireUniteLegale` string,
`caractereEmployeurUniteLegale` string


    )
     ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
    WITH SERDEPROPERTIES (
   'separatorChar' = ',',
   'quoteChar' = '"'
   )
     LOCATION 's3://calfdata/INSEE/00_rawData/UL'
     TBLPROPERTIES ('has_encrypted_data'='false',
              'skip.header.line.count'='1');